<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Luca Ciancio, Alessio Giovanelli, Fabio Izzo">
    <meta http-equiv="Cache-control" content="no-cache">
    <title>Aggiungi</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hello/css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        #opzioneVisuale2 {
            display: none;
        }

        #AssNo:checked~#opzioneVisuale2 {
            display: block;
        }
    </style>
</head>

<body>
    <script>
        document.addEventListener('DOMContentLoaded'), function () {
    </script>
    {% if messages %}
    {%for message in messages %}
    <script>
            Swal.fire({
                icon: '{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}',
                title: '{{ message }}',
                showConfirmButton: true
            })
    </script>
    {% endfor %}
    {% endif %}
    <script>
        }
    </script>

    <header>
        <div class="header-container">
            <div id="cambiologo">
                <a href="{% url 'home' %}"><img src="{% static 'hello/images/fenicebianca.png' %}" alt="icona fenice"
                        class="icona" id="default"></a>
                <a href="{% url 'home' %}"><img src="{% static 'hello/images/fenicearancione.png' %}" alt="icona fenice"
                        class="icona" id="hover"></a>
            </div>
            <h1 class="titolo">Aggiungi</h1>
        </div>
    </header>

    <div id="filtro">
        <div class="centrato">

        </div>
    </div>

    <nav>
        <div class="centrato">
            <div class="elemento-menu">
                <a href="{% url 'home' %}" class="link-bottone">
                    <div class="contenitore-immagine">
                        <div class="cambio-immagine">
                            <img src="{% static 'hello/images/homebianca.png' %}" alt="icona targa" width="50"
                                height="50" class="img-default">
                            <img src="{% static 'hello/images/homeblu.png' %}" alt="icona targa" width="50" height="50"
                                class="img-hover">
                        </div>
                    </div>
                </a>
                <div class="menu-dropdown">
                    <span>Home</span>
                </div>
            </div>
            <div class="elemento-menu">
                <a href="{% url 'veicolo' %}" class="link-bottone">
                    <div class="contenitore-immagine">
                        <div class="cambio-immagine">
                            <img src="{% static 'hello/images/veicolobianco.png' %}" alt="icona targa" width="50"
                                height="50" class="img-default">
                            <img src="{% static 'hello/images/veicoloblu.png' %}" alt="icona targa" width="50"
                                height="50" class="img-hover">
                        </div>
                    </div>
                </a>
                <div class="menu-dropdown">
                    <span>Veicoli</span>
                </div>
            </div>
            <div class="elemento-menu">
                <a href="{% url 'targa' %}" class="link-bottone">
                    <div class="contenitore-immagine">
                        <div class="cambio-immagine">
                            <img src="{% static 'hello/images/targabianca.png' %}" alt="icona targa" width="50"
                                height="50" class="img-default">
                            <img src="{% static 'hello/images/targablu.png' %}" alt="icona targa" width="50" height="50"
                                class="img-hover">
                        </div>
                    </div>
                </a>
                <div class="menu-dropdown">
                    <span>Targhe</span>
                </div>
            </div>
            <div class="elemento-menu">
                <a href="{% url 'revisione' %}" class="link-bottone">
                    <div class="contenitore-immagine">
                        <div class="cambio-immagine">
                            <img src="{% static 'hello/images/revisionebianca.png' %}" alt="icona targa" width="50"
                                height="50" class="img-default">
                            <img src="{% static 'hello/images/revisioneblu.png' %}" alt="icona targa" width="50"
                                height="50" class="img-hover">
                        </div>
                    </div>
                </a>
                <div class="menu-dropdown">
                    <span>Revisioni</span>
                </div>
            </div>
        </div>
    </nav>

    <div id="contenutoAggiungi">
        <div id="contenuto">
            <div class="centrato">
                <form id="formRicerca" method="POST">
                    {% csrf_token %}
                    {% if request.GET.content == '1' %}
                    <div id="visualVeicolo">
                        <h3>Per aggiungere un nuovo veicolo compila il modulo qua sotto:</h3>
                        <br><label for="richiesta">Numero telaio</label><br>
                        <input type="text" id="numTelaio" name="numTelaio" /><label for="text"> (inserire 17
                            caratteri)</label><br><br>
                        <label for="richiesta">Marca</label><br>
                        <input type="text" id="marca" name="marca" /><br><br>
                        <label for="richiesta">Modello</label><br>
                        <input type="text" id="modello" name="modello" /><br><br>
                        <label for="richiesta">Data di produzione</label><br>
                        <input type="date" id="dataProd" name="dataProd" /><br><br>
                    </div>
                    {% elif request.GET.content == '2' %}
                    <div id="visualTarga">
                        <h3>Per aggiungere una nuova targa compila il modulo qua sotto:</h3>
                        <br><label for="richiesta">Targa</label><br>
                        <input type="text" id="targa" name="targa" /><label for="text"> (inserire: 2 lettere - 3 numeri
                            - 2 lettere)</label><br><br>
                        <label for="richiesta">Data di emissione</label><br>
                        <input type="date" id="dataEm" name="dataEm"><br><br>
                        <label for="richiesta">Numero Telaio del Veicolo</label><br>
                        <input type="text" id="telaio" name="telaio" /><br><br>
                    </div>
                    {% elif request.GET.content == '3' %}
                    <div id="visualRevisione">
                        <h3>Per aggiungere una nuova revisione compila il modulo qua sotto:</h3>
                        <br><label for="richiesta">Targa</label><br>
                        <input type="text" id="targa1" name="targa1" /><br><br>
                        <label for="richiesta">Data ultima revisione</label><br>
                        <input type="date" id="dataRev" name="dataRev" /><br><br>
                        <label for="richiesta">Stato</label><br>
                        <input type="radio" id="AssSi" name="mostra_div" value="true">
                        <label for="AssSi">Superata</label><br>
                        <input type="radio" id="AssNo" name="mostra_div" value="false">
                        <label for="AssNo">Non superata</label><br>
                        <div id="opzioneVisuale2">
                            <br><label for="menu">Seleziona un'opzione</label><br>
                            <select name="menu" id="menu">
                                <option value="NULL"></option>
                                <option value="Pastiglie dei freni usurate">Pastiglie dei freni usurate</option>
                                <option value="Luci non funzionanti">Luci non funzionanti</option>
                                <option value="Pneumatici rovinati">Pneumatici rovinati</option>
                                <option value="Emissioni nocive superano i limiti">Emissioni nocive superano i limiti
                                </option>
                                <option value="Sterzo non funzionante">Sterzo non funzionante</option>
                                <option value="Freno a mano usurato">Freno a mano usurato</option>
                                <option value="Parabrezza scheggiato">Parabrezza scheggiato</option>
                            </select><br>
                        </div><br>
                    </div>
                    {% endif %}
                    <input type="hidden" id="tipoInput" name="tipo" value="">
                    <input type="submit" value="Aggiungi" />
                </form><br>
            </div>
        </div>
    </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('formRicerca');
            const tipoInput = document.getElementById('tipoInput');

            if (form) {
                form.addEventListener('submit', function (e) {
                    const content = new URLSearchParams(window.location.search).get('content');

                    switch (content) {
                        case '1':
                            form.action = "{% url 'aggiungi_veicolo' %}";
                            tipoInput.value = 'veicolo';
                            break;
                        case '2':
                            form.action = "{% url 'aggiungi_targa' %}";
                            tipoInput.value = 'targa';
                            break;
                        case '3':
                            form.action = "{% url 'aggiungi_revisione' %}";
                            tipoInput.value = 'revisione';
                            break;
                        default:
                            e.preventDefault(); // Prevenire l'invio se content non è valido
                            alert('Errore: tipo di contenuto non valido.');
                    }
                });
            }
        });
    </script>

    {% include './footer.html' %}
</body>

</html>