<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Luca Ciancio, Alessio Giovanelli, Fabio Izzo">
    <meta http-equiv="Cache-control" content="no-cache">
    <title>Footer</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hello/css/style.css' %}">
    <!--qui metti i css e js bootstrap, con la stessasintassi cambi solo il percorso e il nome del file-->
</head>

<body>
    <footer>
        <div class="centrato">
            <p style="float: left;">Progetto n°2 - FirebirdXXL 2024</p>
            <p style="float: right;">Luca Ciancio (1079291) - Alessio Giovanelli (1081610) - Fabio Izzo (1080579)</p>
        </div>
    </footer>
</body>

</html>