<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="Luca Ciancio, Alessio Giovanelli, Fabio Izzo">
    <meta http-equiv="Cache-control" content="no-cache">
    <title>Revisioni</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hello/css/style.css' %}">
    <!--qui metti i css e js bootstrap, con la stessasintassi cambi solo il percorso e il nome del file-->
    <style>
        #opzioneVisuale2 {
            display: none;
        }

        #AssNo:checked~#opzioneVisuale2 {
            display: block;
        }

        .buttonP {
            display: inline-block;
            padding: 5px 35px;
            font-size: 15px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: #27c83f;
            border: none;
            border-radius: 5px;
        }

        .buttonP:hover {
            background-color: #ff9900
        }
    </style>
</head>

<body>
    <header>
        <div class="header-container">
            <div id="cambiologo">
                <a href="{% url 'home' %}"><img src="{% static 'hello/images/fenicebianca.png' %}" alt="icona fenice"
                        class="icona" id="default"></a>
                <a href="{% url 'home' %}"><img src="{% static 'hello/images/fenicearancione.png' %}" alt="icona fenice"
                        class="icona" id="hover"></a>
            </div>
            <h1 class="titolo">Revisioni</h1>
        </div>
    </header>
    <div id="filtro">
        <div class="centrato">
            <h2 style="text-align: center;">Ricerca</h2><br>
            <form id="formRicerca" method="post">
                {% csrf_token %}
                <label for="richiesta">Targa</label><br>
                <input type="text" id="targa" /><br><br>
                <label for="richiesta">Data ultima revisione</label><br>
                <input type="date" id="dataRev" name="dataRev" /><br><br>
                <label for="richiesta">Superata</label><br>
                <input type="radio" id="AssSi" name="Ass" value="positivo">
                <label for="AssSi">Si</label><br>
                <input type="radio" id="AssNo" name="Ass" value="negativo">
                <label for="AssNo">No</label><br>
                <div id="opzioneVisuale2">
                    <br><label for="menu">Seleziona un'opzione</label><br>
                    <select style="width: 100%;" name="menu" id="menu">
                        <option value="NULL"></option>
                        <option value="Pastiglie dei freni usurate">Pastiglie dei freni usurate</option>
                        <option value="Luci non funzionanti">Luci non funzionanti</option>
                        <option value="Pneumatici rovinati">Pneumatici rovinati</option>
                        <option value="Emissioni nocive superano i limiti">Emissioni nocive superano i limiti</option>
                        <option value="Sterzo non funzionante">Sterzo non funzionante</option>
                        <option value="Freno a mano usurato">Freno a mano usurato</option>
                        <option value="Parabrezza scheggiato">Parabrezza scheggiato</option>
                    </select><br>
                </div><br>
                <input style="width: 50%;" type="submit" value="Azzera filtri" />
            </form><br>
            <div>
                <a href="{% url 'aggiungi' %}?content=3" class="buttonP">Aggiungi revisione</a>
            </div>
        </div>
    </div>
    <nav>
        <div class="centrato">
            <div class="menu-item">
                <a href="{% url 'home' %}" class="button">
                    <div class="image-container">
                        <div id="cambio">
                            <img src="{% static 'hello/images/homebianca.png' %}" alt="icona targa" width="50"
                                height="50" id="default">
                            <img src="{% static 'hello/images/homeblu.png' %}" alt="icona targa" width="50" height="50"
                                id="hover">
                        </div>
                    </div>
                </a>
                <div class="dropdown-content">
                    <span>Home</span>
                </div>
            </div>
            <div class="menu-item">
                <a href="{% url 'veicolo' %}" class="button">
                    <div class="image-container">
                        <div id="cambio">
                            <img src="{% static 'hello/images/veicolobianco.png' %}" alt="icona targa" width="50"
                                height="50" id="default">
                            <img src="{% static 'hello/images/veicoloblu.png' %}" alt="icona targa" width="50"
                                height="50" id="hover">
                        </div>
                    </div>
                </a>
                <div class="dropdown-content">
                    <span>Veicoli</span>
                </div>
            </div>
            <div class="menu-item">
                <a href="{% url 'targa' %}" class="button">
                    <div class="image-container">
                        <div id="cambio">
                            <img src="{% static 'hello/images/targabianca.png' %}" alt="icona targa" width="50"
                                height="50" id="default">
                            <img src="{% static 'hello/images/targablu.png' %}" alt="icona targa" width="50" height="50"
                                id="hover">
                        </div>
                    </div>
                </a>
                <div class="dropdown-content">
                    <span>Targhe</span>
                </div>
            </div>
        </div>
    </nav>

    <div class="contenuto">
        <div class="centrato">
            <h1>Lista Revisioni</h1>
            <table>
                <thead>
                    <tr>
                        <th>Targa</th>
                        <th>Numero Revisione</th>
                        <th>Data ultima revisione</th>
                        <th>Stato</th>
                        <th>Motivazione</th>
                    </tr>
                </thead>
                <tbody>
                    {% for revisione in revisioni %}
                    <tr>
                        <td>{{ revisione.targa }}</td>
                        <td>{{ revisione.numero_revisione }}</td>
                        <td>{{ revisione.data_revisione }}</td>
                        <td>{{ revisione.stato }}</td>
                        <td>{{ revisione.motivazione }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include './footer.html' %}
</body>

</html>