<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="Luca Ciancio, Alessio Giovanelli, Fabio Izzo">
    <meta http-equiv="Cache-control" content="no-cache">
    <title>Targhe</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hello/css/style.css' %}">
    <!--qui metti i css e js bootstrap, con la stessasintassi cambi solo il percorso e il nome del file-->
    <style>
        #opzioneVisuale {
            display: none;
        }

        #targaRestituita:checked~#opzioneVisuale {
            display: block;
        }

        .buttonP {
            display: inline-block;
            padding: 5px 35px;
            font-size: 15px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: #27c83f;
            border: none;
            border-radius: 5px;
        }

        .buttonP:hover {
            background-color: #ff9900
        }
    </style>
</head>

<body>
    <header>
        <div class="header-container">
            <div id="cambiologo">
                <a href="{% url 'home' %}"><img src="{% static 'hello/images/fenicebianca.png' %}" alt="icona fenice"
                        class="icona" id="default"></a>
                <a href="{% url 'home' %}"><img src="{% static 'hello/images/fenicearancione.png' %}" alt="icona fenice"
                        class="icona" id="hover"></a>
            </div>
            <h1 class="titolo">Targhe</h1>
        </div>
    </header>

    <div id="filtro">
        <div class="centrato">
            <h2 style="text-align: center;">Ricerca</h2><br>
            <form id="formRicerca" method="post">
                {% csrf_token %}
                <label for="richiesta">Targa</label><br>
                <input type="text" id="targa" name="testo" /><br><br>
                <label for="richiesta">Data di emissione</label><br>
                <input type="date" id="dataEm"><br><br>
                <label for="richiesta">Stato della targa</label><br>
                <input type="radio" id="targaAttiva" name="attivita" value="1">
                <label for="richiesta">Attiva</label><br>
                <input type="radio" id="targaRestituita" name="attivita" value="0">
                <label for="richiesta">Restituita</label><br>
                <div id="opzioneVisuale">
                    <br><label for="richiesta">Data restituzione</label><br>
                    <input type="date" id="dataRest" name="testo" /><br>
                </div><br>
                <input style="width: 50%;" type="submit" value="Azzera filtri" />
            </form><br>
            <div>
                <a href="{% url 'aggiungi' %}?content=2" class="buttonP">Aggiungi targa</a>
            </div>
        </div>
    </div>
    <nav>
        <div class="centrato">
            <div class="menu-item">
                <a href="{% url 'home' %}" class="button">
                    <div class="image-container">
                        <div id="cambio">
                            <img src="{% static 'hello/images/homebianca.png' %}" alt="icona targa" width="50"
                                height="50" id="default">
                            <img src="{% static 'hello/images/homeblu.png' %}" alt="icona targa" width="50" height="50"
                                id="hover">
                        </div>
                    </div>
                </a>
                <div class="dropdown-content">
                    <span>Home</span>
                </div>
            </div>
            <div class="menu-item">
                <a href="{% url 'veicolo' %}" class="button">
                    <div class="image-container">
                        <div id="cambio">
                            <img src="{% static 'hello/images/veicolobianco.png' %}" alt="icona targa" width="50"
                                height="50" id="default">
                            <img src="{% static 'hello/images/veicoloblu.png' %}" alt="icona targa" width="50"
                                height="50" id="hover">
                        </div>
                    </div>
                </a>
                <div class="dropdown-content">
                    <span>Veicoli</span>
                </div>
            </div>
            <div class="menu-item">
                <a href="{% url 'revisione' %}" class="button">
                    <div class="image-container">
                        <div id="cambio">
                            <img src="{% static 'hello/images/revisionebianca.png' %}" alt="icona revisione" width="50"
                                height="50" id="default">
                            <img src="{% static 'hello/images/revisioneblu.png' %}" alt="icona revisione" width="50"
                                height="50" id="hover">
                        </div>
                    </div>
                </a>
                <div class="dropdown-content">
                    <span>Revisioni</span>
                </div>
            </div>
        </div>
    </nav>

    <div class="contenuto">
        <div class="centrato">
            <h1>Lista Targhe</h1>
            <table>
                <thead>
                    <tr>
                        <th>Numero Telaio</th>
                        <th>Marca</th>
                        <th>Modello</th>
                        <th>Data di Produzione</th>
                    </tr>
                </thead>
                <tbody>
                    {% for targa in targhe %}
                    <tr>
                        <td>{{ veicolo.numero_telaio }}</td>
                        <td>{{ veicolo.marca }}</td>
                        <td>{{ veicolo.modello }}</td>
                        <td>{{ veicolo.data_produzione }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include './footer.html' %}
</body>

</html>