<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="Luca Ciancio, Alessio Giovanelli, Fabio Izzo">
    <meta http-equiv="Cache-control" content="no-cache">
    <title>Veicoli</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hello/css/style.css' %}">
    <!--qui metti i css e js bootstrap, con la stessasintassi cambi solo il percorso e il nome del file-->
    <style>
        .buttonP {
            display: inline-block;
            padding: 5px 35px;
            font-size: 15px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: #27c83f;
            border: none;
            border-radius: 5px;
        }

        .buttonP:hover {
            background-color: #ff9900
        }
    </style>
</head>

<body>
    <header>
        <div class="header-container">
            <div id="cambiologo">
                <a href="{% url 'home' %}"><img src="{% static 'hello/images/fenicebianca.png' %}" alt="icona fenice"
                        class="icona" id="default"></a>
                <a href="{% url 'home' %}"><img src="{% static 'hello/images/fenicearancione.png' %}" alt="icona fenice"
                        class="icona" id="hover"></a>
            </div>
            <h1 class="titolo">Veicoli</h1>
        </div>
    </header>

    <div id="filtro">
        <div class="centrato">
            <h2 style="text-align: center;">Ricerca</h2><br>
            <form id="formRicerca" method="post">
                {% csrf_token %}
                <label for="richiesta">Numero telaio</label><br>
                <input type="text" id="numTelaio" name="testo" /><br><br>
                <label for="richiesta">Marca</label><br>
                <input type="text" id="marca" name="testo" /><br><br>
                <label for="richiesta">Modello</label><br>
                <input type="text" id="modello" name="testo" /><br><br>
                <label for="richiesta">Data di produzione</label><br>
                <input type="date" id="dataProd" name="testo" /><br><br>
                <input style="width: 50%;" type="submit" value="Azzera filtri" />
            </form><br>
            <div>
                <a href="{% url 'aggiungi' %}?content=1" class="buttonP">Aggiungi veicolo</a>
            </div>
        </div>
    </div>

    <nav>
        <div class="centrato">
            <div class="menu-item">
                <a href="{% url 'home' %}" class="button">
                    <div class="image-container">
                        <div id="cambio">
                            <img src="{% static 'hello/images/homebianca.png' %}" alt="icona targa" width="50"
                                height="50" id="default">
                            <img src="{% static 'hello/images/homeblu.png' %}" alt="icona targa" width="50" height="50"
                                id="hover">
                        </div>
                    </div>
                </a>
                <div class="dropdown-content">
                    <span>Home</span>
                </div>
            </div>
            <div class="menu-item">
                <a href="{% url 'targa' %}" class="button">
                    <div class="image-container">
                        <div id="cambio">
                            <img src="{% static 'hello/images/targabianca.png' %}" alt="icona targa" width="50"
                                height="50" id="default">
                            <img src="{% static 'hello/images/targablu.png' %}" alt="icona targa" width="50" height="50"
                                id="hover">
                        </div>
                    </div>
                </a>
                <div class="dropdown-content">
                    <span>Targhe</span>
                </div>
            </div>
            <div class="menu-item">
                <a href="{% url 'revisione' %}" class="button">
                    <div class="image-container">
                        <div id="cambio">
                            <img src="{% static 'hello/images/revisionebianca.png' %}" alt="icona revisione" width="50"
                                height="50" id="default">
                            <img src="{% static 'hello/images/revisioneblu.png' %}" alt="icona revisione" width="50"
                                height="50" id="hover">
                        </div>
                    </div>
                </a>
                <div class="dropdown-content">
                    <span>Veicoli</span>
                </div>
            </div>
        </div>
    </nav>

    <div class="contenuto">
        <div class="centrato">
            <h1>Lista Veicoli</h1>
            <table>
                <thead>
                    <tr>
                        <th>Numero Telaio</th>
                        <th>Marca</th>
                        <th>Modello</th>
                        <th>Data di Produzione</th>
                    </tr>
                </thead>
                <tbody id="tabella-veicoli">
                    {% for veicolo in veicoli %}
                    <tr>
                        <td>{{ veicolo.numero_telaio }}</td>
                        <td>{{ veicolo.marca }}</td>
                        <td>{{ veicolo.modello }}</td>
                        <td>{{ veicolo.data_produzione }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            function fetchVeicoli() {
                var numero_telaio = $('#numTelaio').val();
                var marca = $('#marca').val();
                var modello = $('#modello').val();
                var dataProd = $('#dataProd').val();

                $.ajax({
                    url: '{% url "filtra_veicoli" %}',
                    data: {
                        'numero_telaio': numero_telaio,
                        'marca': marca,
                        'modello': modello,
                        'data_produzione': dataProd,
                    },
                    dataType: 'json',
                    success: function (data) {
                        var veicoli = data.veicoli;
                        var tbody = $('#tabella-veicoli');
                        tbody.empty();  // Pulisci il contenuto della tabella
                        for (var i = 0; i < veicoli.length; i++) {
                            var veicolo = veicoli[i];
                            var row = '<tr>' +
                                '<td>' + veicolo.numero_telaio + '</td>' +
                                '<td>' + veicolo.marca + '</td>' +
                                '<td>' + veicolo.modello + '</td>' +
                                '<td>' + veicolo.data_produzione + '</td>' +
                                '</tr>';
                            tbody.append(row);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("AJAX Error: ", status, error);
                        console.error("Response: ", xhr.responseText);
                    }
                });
            }

            $('#numTelaio, #marca, #modello, #dataProd').on('input change', fetchVeicoli);

            $('#azzeraFiltri').on('click', function () {
                $('#numTelaio').val('');
                $('#marca').val('');
                $('#modello').val('');
                $('#dataProd').val('');
                fetchVeicoli();
            });

            fetchVeicoli();  // Inizializza la tabella con tutti i dati
        });
    </script>
    {% include './footer.html' %}
</body>

</html>