<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="Luca Ciancio, Alessio Giovanelli, Fabio Izzo">
    <meta http-equiv="Cache-control" content="no-cache">
    <title>Veicoli</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hello/css/style.css' %}">
</head>

<body>
    <header>
        <div class="header-container">
            <div id="cambiologo">
                <a href="{% url 'home' %}"><img src="{% static 'hello/images/fenicebianca.png' %}" alt="icona fenice"
                        class="icona" id="default"></a>
                <a href="{% url 'home' %}"><img src="{% static 'hello/images/fenicearancione.png' %}" alt="icona fenice"
                        class="icona" id="hover"></a>
            </div>
            <h1 class="titolo">Veicoli</h1>
        </div>
    </header>

    <div id="filtro">
        <div class="centrato">
            <h2 style="text-align: center;">Ricerca</h2><br>
            <form id="formRicerca" method="post" onSubmit="return creazioneQuery();">
                <label for="richiesta">Numero telaio</label><br>
                <input type="text" id="numTelaio" name="testo" /><br><br>
                <label for="richiesta">Marca</label><br>
                <input type="text" id="marca" name="testo" /><br><br>
                <label for="richiesta">Modello</label><br>
                <input type="text" id="modello" name="testo" /><br><br>
                <label for="richiesta">Data di produzione</label><br>
                <input type="date" id="dataProd" name="testo" /><br><br>
                <input style="width: 50%;" type="submit" value="Azzera filtri" />
            </form><br>
            <div>
                <button onclick="aggiuntaModifica(1)" style="width: 100%;">
                    Aggiungi veicolo
                </button>
            </div>
        </div>
    </div>
    <nav>
        <div class="centrato">
            <div class="menu-item">
                <a href="{% url 'home' %}" class="button">
                    <div class="image-container">
                        <div id="cambio">
                            <img src="{% static 'hello/images/homebianca.png' %}" alt="icona targa" width="50"
                                height="50" id="default">
                            <img src="{% static 'hello/images/homeblu.png' %}" alt="icona targa" width="50" height="50"
                                id="hover">
                        </div>
                    </div>
                </a>
                <div class="dropdown-content">
                    <span>Home</span>
                </div>
            </div>
            <div class="menu-item">
                <a href="{% url 'targa' %}" class="button">
                    <div class="image-container">
                        <div id="cambio">
                            <img src="{% static 'hello/images/targabianca.png' %}" alt="icona targa" width="50"
                                height="50" id="default">
                            <img src="{% static 'hello/images/targablu.png' %}" alt="icona targa" width="50" height="50"
                                id="hover">
                        </div>
                    </div>
                </a>
                <div class="dropdown-content">
                    <span>Targhe</span>
                </div>
            </div>
            <div class="menu-item">
                <a href="{% url 'revisione' %}" class="button">
                    <div class="image-container">
                        <div id="cambio">
                            <img src="{% static 'hello/images/revisionebianca.png' %}" alt="icona revisione" width="50"
                                height="50" id="default">
                            <img src="{% static 'hello/images/revisioneblu.png' %}" alt="icona revisione" width="50"
                                height="50" id="hover">
                        </div>
                    </div>
                </a>
                <div class="dropdown-content">
                    <span>Revisioni</span>
                </div>
            </div>
        </div>
    </nav>

    {% include './footer.html' %}
</body>

</html>