* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#cambiologo {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    margin-right: 10px;
}

#cambiologo img {
    display: block;
    transition: opacity 0.3s ease-in-out;
    width: 50px;
    height: 50px;
}

#cambiologo img#default {
    opacity: 1;
}

#cambiologo img#hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#cambiologo:hover img#default {
    opacity: 0;
}

#cambiologo:hover img#hover {
    opacity: 1;
}

#cambio {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

#cambio img {
    display: block;
    transition: opacity 0.3s ease-in-out;
    width: 50px;
    height: 50px;
}

#cambio img#default {
    opacity: 1;
}

#cambio img#hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#cambio:hover img#default {
    opacity: 0;
}

#cambio:hover img#hover {
    opacity: 1;
}

.titolo {
    margin: 0;
    font-size: 3em;
    text-align: center;
    flex-grow: 1;
    color: white;
}

/* Sidebar Styles */
#filtro {
    color: white !important;
    padding: 20px;
    width: 225px;
    height: calc(100vh - 70px);
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 900;
}

#filtro .contenitore-icone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#filtro .iconeHome {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#filtro .iconeHome:last-child {
    margin-bottom: 0;
}

/* Navigation Styles */
nav {
    color: white !important;
    padding: 20px;
    width: 250px;
    height: calc(100vh - 70px);
    position: fixed;
    top: 70px;
    right: 0;
    border-left: 1px solid rgb(40, 40, 131) !important;
    z-index: 900;
}

nav .centrato h2 {
    color: white !important;
}

.image-container {
    margin-right: 10px;
}

.button {
    background: white !important;
    border: none;
    cursor: pointer;
    outline: none;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
    color: white !important;
}

.button:focus+.dropdown-content,
.button:focus-within+.dropdown-content {
    display: block;
}

/* Content Styles */
#contenuto {
    padding: 20px;
    box-sizing: border-box;
    margin-left: 225px;
    margin-right: 250px;
    overflow-wrap: break-word;
    flex: 1 0 auto;
    max-width: calc(100% - 475px);
}

.bg-custom {
    background-color: rgb(25, 132, 214);
}

.scrollable-content {
    height: calc(100vh - 140px);
    overflow-y: auto;
}

/* Footer Styles */
footer {
    background-color: rgb(215, 117, 81) !important;
    color: white !important;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: separate;
    /* Usa separate per applicare sticky */
    border-spacing: 0;
}

thead {
    position: sticky;
    /* Imposta la posizione sticky per l'header */
    top: -10px;
    /* Assicura che l'header rimanga in cima */
    background-color: white;
    /* Assicurati che lo sfondo sia bianco per evitare sovrapposizioni */
    z-index: 10;
    /* Imposta un alto z-index per stare sopra altre righe */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    /* Aggiungi un'ombra per un effetto di profondità */
}

thead th {
    position: sticky;
    top: 0;
    height: 50px;
    background-color: white;
}

th {
    background-color: #ffffff;
    /* Colore di sfondo dell'header per visibilità */
    padding: 10px;
    text-align: left;
    /* Allinea il testo a sinistra */
    border-bottom: 1px solid #ddd;
    /* Aggiungi un bordo inferiore */
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

.tabella {
    border: 2px solid #230adf;
    width: 100%;
}

.testata {
    background: #5b6be5;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

#rigaDispari {
    background: #28459c;
    color: rgb(255, 255, 255);
}

#rigaPari {
    background: #3359ce;
    color: white;
}

.hidden {
    display: none;
}

.clickable {
    cursor: pointer;
}

html,
body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

.delete-button {
    color: white !important;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    padding: 0;
}

.delete-button:hover {
    text-decoration: underline;
}

#trasparente {
    color: white !important;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    padding: 0;
}

#trasparente:hover {
    text-decoration: underline;
}

#contenuto .revisione-row:hover {
    background-color: rgb(248, 140, 101);
}

#contenuto .targa-row:hover {
    background-color: rgb(248, 140, 101);
}

#contenuto .tabella tbody tr:hover {
    background-color: rgb(248, 140, 101);
}

td.imgcentr {
    text-align: center;
    vertical-align: middle;
    height: 100%;
}

td.imgcentr a {
    display: inline-block;
    height: 100%;
}

td.imgcentr a img {
    display: block;
    margin: auto;
}

.elemento-menu {
    background: rgb(167, 84, 28);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    margin-bottom: 10px;
    margin-top: 60px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* Impedisce al contenuto di uscire dai limiti */
}

.link-bottone {
    background-color: rgb(215, 117, 81);
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    /* Impostato per garantire che l'hover funzioni correttamente */
}

.link-bottone:hover,
.link-bottone:focus {
    background-color: white;
    /* Cambia il colore di sfondo al passaggio del mouse */
}

/* Aggiorna anche il colore di sfondo del contenitore dell'immagine */
.link-bottone:hover .contenitore-immagine,
.link-bottone:focus .contenitore-immagine {
    background-color: white;
    /* Colore di sfondo coordinato con il bottone */
}

.contenitore-immagine {
    background-color: rgb(215, 117, 81);
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cambio-immagine {
    position: relative;
    width: 100%;
    height: 100%;
}

.cambio-immagine img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cambio-immagine .img-hover {
    opacity: 0;
}

.elemento-menu:hover .cambio-immagine .img-default {
    opacity: 0;
}

.elemento-menu:hover .cambio-immagine .img-hover {
    opacity: 1;
}

/* Stile per il dropdown menu */
.dropdown-menu {
    display: none;
    /* Nasconde il menu di default */
    position: absolute;
    /* Necessario per il posizionamento */
    background-color: rgb(215, 117, 81);
    /* Sfondo per il menu */
    min-width: 80px;
    /* Larghezza minima del menu */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    /* Aggiungi un'ombra per effetto */
    z-index: 100;
    /* Assicura che sia sopra altri elementi */
    top: 100%;
    /* Posiziona sotto il bottone */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* Allinea il testo al centro */
}

/* Mostra il menu dropdown al passaggio del mouse */
.elemento-menu:hover .dropdown-menu {
    display: block;
}

/* Mantieni il menu aperto quando ci si passa sopra */
.dropdown-menu:hover {
    display: block;
}

/* Stile per gli elementi del dropdown */
.dropdown-menu .dropdown-item {
    color: black;
    padding: 5px;
    /* Aggiungi un po' di padding per lo spazio interno */
    text-decoration: none;
    display: block;
    cursor: pointer;
    text-align: center;
    /* Centro il testo all'interno degli item */
}


.sort {
    height: 20px;
    width: 20px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

#linkt {
    color: rgb(43, 43, 143);
}

#linkt:hover {
    color: rgb(207, 75, 27);
}

.coloreTitolo {
    color: rgb(207, 75, 27);
}

.coloreScritta {
    color: rgb(43, 43, 143);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .titolo {
        font-size: 2em;
    }

    #filtro,
    nav {
        width: 100%;
        max-width: none;
        float: none;
    }

    #contenuto,
    #contenutoHome {
        margin: 0;
        padding: 15px;
    }
}

.ultimocont {
    overflow-y: auto;
}

#contenutoAggiungi {
    padding: 20px;
}